# Turnstile
TURNSTILE_SITE_KEY=1x00000000000000000000AA
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
JWT_SECRET=your-secure-jwt-secret

# Resend
RESEND_API_KEY=re_XXXXXXXXXXXXXXXXXXXXXXXXXXXX
RESEND_FROM=onboarding@resend.dev
RESEND_TO=delivered@resend.dev